<h1>Editar</h1>

<%= render "form", pet: @pet %>

<br>

<div>
  <%= link_to "mostrar mascota", @pet, class:"btn btn-success" %> |
  <%= link_to "Regresar", pets_path, class:"btn btn-primary" %>
</div>
